/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); */
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Serif+Pro'); */
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
*{
  transition: all .35s ease;
  /* font-family: 'SourceCodePro' */
  /* font-family: 'SourceSerifPro' */
  font-family: 'ArchivoNarrow'
}

/* This puts a little new window icon next to links that open in a new window, doesn't look great */
/* a[target='_blank']:after {
  content: '\1F5D7'
} */

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }
.darkTitleStyles{
  color: white;
}
.lightTitleStyles{
  color: black;
}
.darkTheme{
  background-color: black !important; 
  color: white !important;
}

.lightTheme{
  background-color: rgb(200, 200, 200) !important;
  color: black !important;  
}
.lightThemeFooter{
  background-color: #939393;
}

.darkNavClass a{
  color: white;
  padding: 1rem;
  font-size: 2rem;
}
.darkNavClass a:hover{
  color: orange;
}
.darkNavClass a.active{
  color: red;
}
.lightNavClass span{
  color: white;
}
.lightNavClass span:hover{
  color: orange;
  text-decoration: none;
}
.lightNavClass a{
  color: black;
  padding: 1rem;
  font-size: 2rem;
}
.lightNavClass a:hover{
  color: blue;
}
.lightNavClass a.active{
  color: purple;
}

/* .footer a{
  text-decoration: none;
  font-size: 1rem;
} */