h1{
    text-align: center;
    transition: none;
  }
  h2{
    text-align: center;
    transition: none;
}

.DashBoardContentContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}