a[target='_blank']:after {
  content: '\1F5D7'
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }

.darkTheme{
  background-color: black !important; 
  color: white !important;
}

.lightTheme{
  background-color: rgb(200, 200, 200) !important;
  color: black !important;  
}

.darkNavClass a{
  color: white;
  padding: 1rem;
  font-size: 2rem;
}
.darkNavClass a:hover{
  color: orange;
}
.darkNavClass a.active{
  color: red;
}
.lightNavClass a{
  color: black;
  padding: 1rem;
  font-size: 2rem;
}
.lightNavClass a:hover{
  color: blue;
}
.lightNavClass a.active{
  color: purple;
}

.footer a{
  text-decoration: none;
  font-size: 1rem;
}