.author-profile-container{
    min-height: 30vh;
}
.author-profile-name{
    font-size: 4rem;
    text-align: center;
}
.author-profile-image{
    min-height: 400px;
    margin: auto;
    padding: 3rem;
}
.author-profile-details{
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
}